# Analysis - Object Detection

This notebook is about the exploratory data analysis to Object Detection project

In [107]:
import os
import random

import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

import json

import project.download_content as content

from collections import Counter

import notebooks_utils.analysis as utils

from IPython.display import display


%matplotlib inline

This analysis starts with the downloading of all the data. To do this, you could use the makefile created. Just open the terminal, go to where you clone this project and run `make download-content`, following the instructions to download files.

**To run this analysis and reproduced it, you must download the METADATA files**. Besides that, in some cells, it is necessary to download the images (TRAIN, TEST, and VALIDATION image files). Because of that, to reproduce this analysis entirely, you should download these files also (download around 550Gb). If you did not download them, these cells are not going to run entirely, but the cell will notify you about this, and the process is going to follow.

The analysis made with all the images files downloaded could be accessed in an HTML file that is in the project, called "analysis.html". You do not need to download all images to see it, open the file in your browser.

## Wrangling

### Gather

In [2]:
# Gathering all files
if not content.does_metadata_exist():
    raise OSError(f'There are metadata file(s) that did not downloaded yet...')
print('all files exist...')

METAPATH = os.path.join(content.DATAPATH, 'METADATA')

# metadata general files
print('Gathering all metadata files...', end='')

df_classes_raw = pd.read_csv(METAPATH + "/class-descriptions-boxable.csv",
                             names=['class_encode', 'class_name'],
                             index_col='class_encode')
with open(METAPATH + "/bbox_labels_600_hierarchy.json") as f:
    dict_hierarchy_raw = json.load(f)
print('OK!')


# train files
print('Gathering all train files...', end='')
df_train_bbox_raw = pd.read_csv(METAPATH + "/train-annotations-bbox.csv")
df_train_labels_raw = pd.read_csv(
    METAPATH + "/train-annotations-human-imagelabels-boxable.csv")
print('OK!')


# validation files
print('Gathering all validation files...', end='')
df_val_bbox_raw = pd.read_csv(METAPATH + "/validation-annotations-bbox.csv")
df_val_labels_raw = pd.read_csv(
    METAPATH + "/validation-annotations-human-imagelabels-boxable.csv")
print('OK!')


# test files
print('Gathering all test files...', end='')
df_test_bbox_raw = pd.read_csv(METAPATH + "/test-annotations-bbox.csv")
df_test_labels_raw = pd.read_csv(
    METAPATH + "/test-annotations-human-imagelabels-boxable.csv")
print('OK!')

all files exist...
Gathering all metadata files...OK!
Gathering all train files...OK!
Gathering all validation files...OK!
Gathering all test files...OK!

### Assess

#### Explaining data

It is crucial to start the analysis to understand all the files downloaded.

When you run the command `make download-content`, you should notice that the files are divided into four blocks, METADATA, TRAIN, VALIDATION, and TEST.

The blocks TRAIN, VALIDATION, and TEST are about the images files, and there is nothing but that, the images.

**The block METADATA is a must-have content**. In it, we are going to find eight files.

**The first six files are essentially a split of two data**, the bounding box annotations *([type]-annotations-bbox.csv)* and the image-level annotations *([type]-annotations-human-imagelabels-boxable.csv)*.

Image-level Annotations are manual data labeled by a human (from google and a crowdsourced system). These labels try to represent what the image has. More about this dataset could be found in [here](https://storage.googleapis.com/openimages/web/factsfigures.html) in session **Image-level Labels**.

The Bounding Box Annotation is a dataset that defines, for each image, where are the objects annotated previously by the Image-level Annotation. These annotations are focused on the most specific labels in Image-level Annotations. More about this dataset could be founded [here](https://storage.googleapis.com/openimages/web/factsfigures.html) in session **Bonding Boxes**. 

These two datasets described above were divided by Google in three sets. Train, which is going to be used to train the model, Validation, which is going to be used to compare the models, and Test, which is going to be used to do the final evaluation of the chosen one model.

The final two files are about the classes themselves.

All the labels described in the paragraphs above are encoded representations of the classes. The CSV *class-descriptions-boxable.csv* maps each **encoded class name** (machine-understandable) **to a semantic class name** (human-understandable).

Lastly, the JSON file *bbox_labels_600_hierarchy.json* **describes a hierarchical tree of all classes**, describing a hierarchy of each class. This file shows us, for example, that Woman derives from Person.

#### Assessing Data

In [3]:
#number of images by dataset
print(f"""Number of images: {(df_train_bbox_raw.shape[0]
                            + df_val_bbox_raw.shape[0]
                            + df_test_bbox_raw.shape[0]):,}""", end="\n"*2)

print(f"images in train: {df_train_bbox_raw.shape[0]:,}")
print(f"images in validation: {df_val_bbox_raw.shape[0]:,}")
print(f"images in test: {df_test_bbox_raw.shape[0]:,}")

Number of images: 15,851,536

images in train: 14,610,229
images in validation: 303,980
images in test: 937,327

#### Explaining more about the data

In [4]:
# display classes and their encodes
print("####### CLASSES MAPPING #######")
print(f"total classes: {df_classes_raw.shape[0]}")
display(df_classes_raw.sample(2, random_state=17))

####### CLASSES MAPPING #######
total classes: 601

             class_name
class_encode
/m/07dd4          Torch
/m/01dws           Bear

In the cell above, all datasets are described:

In [5]:
# show info about all dfs
for k, df in {'Train Bounding Boxes': df_train_bbox_raw,
              'Train Labels': df_train_labels_raw,
              'Validation Bounding Boxes': df_val_bbox_raw,
              'Validation Labels': df_val_labels_raw,
              'Test Bounding Boxes': df_test_bbox_raw,
              'Test Labels': df_test_labels_raw}.items():
    print(f"####### {k.upper()} #######", end="\n"*2)
    print(f"shape: {df.shape[0]:,} rows, {df.shape[1]} columns")
    print(f"duplicated values: {df[df.duplicated(keep='first')].shape[0]} records",
          end="\n"*2)

    print("Unique Values:")
    for col in df.columns:
        print(
            f"   {str(col)+' ':-<15} {str(df[col].dtype).upper()+' ':-<10} Nulls = {df[col].isna().sum():,} | Uniques = {df[col].nunique():,}")
    display(df.sample(2, random_state=37))
    print('_'*80, end="\n"*2)

####### TRAIN BOUNDING BOXES #######

shape: 14,610,229 rows, 13 columns
duplicated values: 558 records

Unique Values:
   ImageID ------- OBJECT --- Nulls = 0 | Uniques = 1,743,042
   Source -------- OBJECT --- Nulls = 0 | Uniques = 2
   LabelName ----- OBJECT --- Nulls = 0 | Uniques = 599
   Confidence ---- INT64 ---- Nulls = 0 | Uniques = 1
   XMin ---------- FLOAT64 -- Nulls = 0 | Uniques = 446,369
   XMax ---------- FLOAT64 -- Nulls = 0 | Uniques = 446,839
   YMin ---------- FLOAT64 -- Nulls = 0 | Uniques = 496,455
   YMax ---------- FLOAT64 -- Nulls = 0 | Uniques = 476,443
   IsOccluded ---- INT64 ---- Nulls = 0 | Uniques = 3
   IsTruncated --- INT64 ---- Nulls = 0 | Uniques = 3
   IsGroupOf ----- INT64 ---- Nulls = 0 | Uniques = 3
   IsDepiction --- INT64 ---- Nulls = 0 | Uniques = 3
   IsInside ------ INT64 ---- Nulls = 0 | Uniques = 3

                  ImageID  Source  LabelName  Confidence      XMin      XMax      YMin      YMax  IsOccluded  IsTruncated  IsGroupOf  IsDepiction  IsInside
2219686  2360d8f563dbb953  xclick  /m/01g317           1  0.378125  0.529688  0.375000  0.804167           1            0          0            0         0
9909796  a96113e785b31ec2  xclick   /m/07j7r           1  0.436250  0.498750  0.636961  0.779550           1            0          0            0         0

________________________________________________________________________________

####### TRAIN LABELS #######

shape: 8,996,795 rows, 4 columns
duplicated values: 0 records

Unique Values:
   ImageID ------- OBJECT --- Nulls = 0 | Uniques = 1,743,042
   Source -------- OBJECT --- Nulls = 0 | Uniques = 2
   LabelName ----- OBJECT --- Nulls = 0 | Uniques = 601
   Confidence ---- INT64 ---- Nulls = 0 | Uniques = 2

                  ImageID        Source  LabelName  Confidence
7673221  d52ec8ea8095ceda  verification  /m/05r655           0
1702253  2793756b766d2b66  verification  /m/01bl7v           0

________________________________________________________________________________

####### VALIDATION BOUNDING BOXES #######

shape: 303,980 rows, 13 columns
duplicated values: 0 records

Unique Values:
   ImageID ------- OBJECT --- Nulls = 0 | Uniques = 37,306
   Source -------- OBJECT --- Nulls = 0 | Uniques = 1
   LabelName ----- OBJECT --- Nulls = 0 | Uniques = 570
   Confidence ---- INT64 ---- Nulls = 0 | Uniques = 1
   XMin ---------- FLOAT64 -- Nulls = 0 | Uniques = 52,066
   XMax ---------- FLOAT64 -- Nulls = 0 | Uniques = 52,182
   YMin ---------- FLOAT64 -- Nulls = 0 | Uniques = 45,696
   YMax ---------- FLOAT64 -- Nulls = 0 | Uniques = 45,471
   IsOccluded ---- INT64 ---- Nulls = 0 | Uniques = 2
   IsTruncated --- INT64 ---- Nulls = 0 | Uniques = 2
   IsGroupOf ----- INT64 ---- Nulls = 0 | Uniques = 2
   IsDepiction --- INT64 ---- Nulls = 0 | Uniques = 2
   IsInside ------ INT64 ---- Nulls = 0 | Uniques = 2

                 ImageID  Source  LabelName  Confidence      XMin      XMax      YMin      YMax  IsOccluded  IsTruncated  IsGroupOf  IsDepiction  IsInside
265694  df011533a62a094a  xclick   /m/07mhn           1  0.137787  0.486430  0.607812  0.998437           1            1          0            0         0
158384  864d6c8df3d06b74  xclick  /m/01g317           1  0.159057  0.210604  0.232816  0.421286           1            0          0            0         0

________________________________________________________________________________

####### VALIDATION LABELS #######

shape: 256,707 rows, 4 columns
duplicated values: 0 records

Unique Values:
   ImageID ------- OBJECT --- Nulls = 0 | Uniques = 41,151
   Source -------- OBJECT --- Nulls = 0 | Uniques = 2
   LabelName ----- OBJECT --- Nulls = 0 | Uniques = 577
   Confidence ---- INT64 ---- Nulls = 0 | Uniques = 2

                 ImageID        Source   LabelName  Confidence
167771  a621ee5f23c3a6e3  verification    /m/05s2s           1
226733  e1a88f17eef86a15  verification  /m/026qbn5           0

________________________________________________________________________________

####### TEST BOUNDING BOXES #######

shape: 937,327 rows, 13 columns
duplicated values: 0 records

Unique Values:
   ImageID ------- OBJECT --- Nulls = 0 | Uniques = 112,194
   Source -------- OBJECT --- Nulls = 0 | Uniques = 1
   LabelName ----- OBJECT --- Nulls = 0 | Uniques = 583
   Confidence ---- INT64 ---- Nulls = 0 | Uniques = 1
   XMin ---------- FLOAT64 -- Nulls = 0 | Uniques = 101,542
   XMax ---------- FLOAT64 -- Nulls = 0 | Uniques = 101,871
   YMin ---------- FLOAT64 -- Nulls = 0 | Uniques = 82,929
   YMax ---------- FLOAT64 -- Nulls = 0 | Uniques = 83,316
   IsOccluded ---- INT64 ---- Nulls = 0 | Uniques = 2
   IsTruncated --- INT64 ---- Nulls = 0 | Uniques = 2
   IsGroupOf ----- INT64 ---- Nulls = 0 | Uniques = 2
   IsDepiction --- INT64 ---- Nulls = 0 | Uniques = 2
   IsInside ------ INT64 ---- Nulls = 0 | Uniques = 2

                 ImageID  Source LabelName  Confidence      XMin      XMax   YMin      YMax  IsOccluded  IsTruncated  IsGroupOf  IsDepiction  IsInside
391592  6991ac65c79d307e  xclick  /m/0k65p           1  0.618037  0.854111  0.405  0.527500           0            0          0            0         0
96435   1928189562dc619a  xclick  /m/03q69           1  0.000000  0.457227  0.000  0.951327           0            1          0            0         0

________________________________________________________________________________

####### TEST LABELS #######

shape: 772,776 rows, 4 columns
duplicated values: 0 records

Unique Values:
   ImageID ------- OBJECT --- Nulls = 0 | Uniques = 123,926
   Source -------- OBJECT --- Nulls = 0 | Uniques = 2
   LabelName ----- OBJECT --- Nulls = 0 | Uniques = 589
   Confidence ---- INT64 ---- Nulls = 0 | Uniques = 2

                 ImageID        Source  LabelName  Confidence
144973  2f1eb82880cafec3  verification  /m/0f4s2w           0
237070  4d2e86d6498d365b  verification  /m/01prls           1

________________________________________________________________________________

In [6]:
# classes hierarchy
print("####### CLASSES Hierarchy #######", end="\n"*2)

num_classes, classes = utils.count_recursive(dict_hierarchy_raw)

print(f"There are {num_classes} classes in the JSON hierarchy",
      end="\n"*2)

print("The first node class encode is:",
      dict_hierarchy_raw['LabelName'], end="\n"*2)

# defining a node to consult
i=17

print(f"the {i}th son encode of the first node:",
      dict_hierarchy_raw['Subcategory'][i]['LabelName'])
print(f"The sons of the {i}th node:")
for subcat in dict_hierarchy_raw['Subcategory'][i]['Subcategory']:
    print(f"   {subcat}")

####### CLASSES Hierarchy #######

There are 671 classes in the JSON hierarchy

The first node class encode is: /m/0bl9f

the 17th son encode of the first node: /m/01x3z
The sons of the 17th node:
   {'LabelName': '/m/046dlr'}
   {'LabelName': '/m/06_72j'}
   {'LabelName': '/m/0h8mzrc'}

In [7]:
# finding with some class in hierarchial has no human representation
for encoded_name in classes:
    try:
        semantic_name = utils.semantic_name(encoded_name)
    except KeyError:
        print(f"{encoded_name} - 'Undefined Human Representation'")

/m/0bl9f - 'Undefined Human Representation'

Import to notice that only the first node ("the father of all") has no semantic representation!

**Some classes could be in more then on subtree**, as shown above

In [125]:
# duplicated paths
ambiguous_paths = [k for k, c in Counter(classes).items() if c > 1]

random.seed(57)
for cat in random.choices(ambiguous_paths, k=3):
    print(f"{utils.semantic_name(cat)}")
    paths = utils.node_path(dict_hierarchy_raw, cat)
    for path in paths:
        print(f"    " + " -> ".join([utils.semantic_name(k) for k in path]))

Oven
    Entity -> Home appliance -> Oven
    Entity -> Kitchenware -> Kitchen appliance -> Oven
Lobster
    Entity -> Food -> Seafood -> Shellfish -> Lobster
    Entity -> Animal -> Invertebrate -> Marine invertebrates -> Lobster
    Entity -> Animal -> Shellfish -> Lobster
Teddy bear
    Entity -> Toy -> Teddy bear
    Entity -> Animal -> Mammal -> Carnivore -> Bear -> Teddy bear

### Clean

## EDA